<div class="header-bar">
    <div class="p-grid">
        <div class="p-col-fixed" style="width:200px">
            <div class="circle">
                <img src="assets/images/cbm_logo_header.png" class="center">
            </div>
        </div>
        <div class="p-col">
            <img src="assets/images/cbm_text.png" style="margin-top: 39px;">
        </div>
        <a href="https://pt.vecteezy.com/vetor-gratis/cabe%C3%A7a" style="height: 20px;">Cabeça Vetores por Vecteezy</a> <!--mover para o footer-->
    </div>
</div>
<div class="sub-header-bar">
    <button pButton pRipple type="button" label="Cadastre-se" class="p-button-outlined p-button-warning" style="float: right;"></button>
</div>
