<div class="login">
    <img src="../../../assets/images/cbm_text.png" class="center">
    <img src="../../../assets/images/cbm_logo_login.png" class="center">
    <div class="login-triangle"></div>
    <h2 class="login-header">Log in</h2>
    <form [formGroup]="form" class="login-container">
        <i class="pi pi-user"></i><input type="text" formControlName="login" placeholder="Login" pInputText style="margin-bottom: 12px;" required/>
        <cbm-validator-message *ngIf="form.get('login').dirty && form.get('login').errors?.required" [styles]="validationMessageStyles" [message]="'Campo login obrigatório.'" ></cbm-validator-message>
        
        <i class="pi pi-key"></i><input type="password" formControlName="senha" placeholder="Senha" pPassword [feedback]="false" style="margin-bottom: 12px;" required/>
        <cbm-validator-message *ngIf="form.get('senha').dirty && form.get('senha').errors?.required" [styles]="validationMessageStyles" [message]="'Campo senha obrigatório.'" ></cbm-validator-message>

        <button pButton pRipple type="button" label="Login" class="p-button-raised p-button-warning login-button-left" [disabled]="form.invalid" ></button>
        <button pButton pRipple type="button" label="Cadastre-se" class="p-button-raised p-button-warning login-button-right"></button>
    </form>
</div>