* {
    padding:0;
    margin:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .error-font{
    font-size: 15px;
    color: red;
    font-style: italic;
  }